astropy>=5.2.2
astroquery>=0.4.6
ccdproc>=2.4.0
matplotlib>=3.5.1
numpy>=1.22.3
pandas>=1.4.2
PyAstronomy>=0.18.1
scipy>=1.9.3
statsmodels>=0.13.5
tqdm>=4.64.1
numba>=0.57.0
seaborn>=0.12.2
pyia>=1.3
photutils>=1.8.0
