name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  SETUP_XVFB: True  # avoid issues if mpl tries to open a GUI window
  TOXARGS: '-v'

jobs:
  ci-tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    if: "!(contains(github.event.head_commit.message, '[skip ci]') || contains(github.event.head_commit.message, '[ci skip]'))"
    strategy:
      matrix:
        include:
          - name: 'ubuntu-py312'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-numpy119-cov'

          - name: 'ubuntu-py312'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-numpy121'

          - name: 'ubuntu-py312-bottleneck'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-numpy119-cov-bottleneck'

          - name: 'macos-py312'
            os: macos-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps'

          - name: 'windows-py312'
            os: windows-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps'

          - name: 'ubuntu-codestyle'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps'

          - name: 'ubuntu-py312-test-alldeps-devdeps'
            os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps-devdeps'

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox wheel setuptools
    - name: Install graphviz dependency
      if: "endsWith(matrix.tox_env, 'build_docs')"
      run: sudo apt-get -y install graphviz
    - name: Print Python, pip, setuptools, and tox versions
      run: |
        python -c "import sys; print(f'Python {sys.version}')"
        python -c "import pip; print(f'pip {pip.__version__}')"
        python -c "import setuptools; print(f'setuptools {setuptools.__version__}')"
        python -c "import tox; print(f'tox {tox.__version__}')"
    - name: Run tests
      if: "! matrix.use_remote_data"
      run: |
        tox -e ${{ matrix.tox_env }} -- ${{ matrix.toxposargs }}

        
